/*--------------------------------------------------------------
Styles that apply to Main Menu .topnav
--------------------------------------------------------------*/
.topnav {
    background-color: #333;
    overflow: hidden;
    position:fixed;
    width: 100%;
    z-index: 1000;
}
  
/* Style the links inside the navigation bar */

.topnav>a:not(:last-child) {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    font-style: bold;
}
  

/* Change the color of links on hover */
.topnav a:hover {
    background-color: rgb(135, 135, 135);
    color: rgb(255, 255, 255);
}
  
/* Add a color to the active/current link */

.topnav a.active {
    background-color: #454545;
    color: rgb(0, 0, 0);
}



/* Style the cart inside the navigation bar */

.bi-cart2 {
    padding: 20px;
    margin: auto 0;
}

.cart {
    float: right;
    position: relative;
    top: 10px;
    right: 10px;
    text-align: center;
    background-color: #fff;
    color: #212529;
    border-radius: 5px;
}
  
.cartAmount {
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 15px;
    background-color: rgb(88, 88, 88) ;
    color: white;
    padding:5px;
    border-radius: 15px;
    font-family: 'Raleway', sans-serif;
}


/*--------------------------------------------------------------
Hamburger menu and Header styles 
--------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

body {
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  min-height: 20vh;
  font-family: 'Raleway', sans-serif;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: black;
    z-index: -1;
}

#main-menu {
  display: block;
  height: 62px;
  width: 100%;
  background: #000000;
  margin: 0px;  
  z-index: 9;
}

#main-menu ul {
  max-width: 800px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 9;
}

#main-menu li {
  list-style-type: none;
  font-size: 2rem;
}

#main-menu a {
  color: #ffffff;
  font-size: 1.5rem;
  text-decoration: none;
}

.topnav a:hover {
    background-color: rgb(88, 88, 88);
    color: rgb(255, 255, 255);
}

#hamburger-input{
  display: none;
}

#hamburger-menu {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    display: none;
    border: none;
    padding: 0px;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(
      to bottom, 
      #1c1a1d, #000000 20%, 
      rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 40%, 
      #000000 40%, #000000 60%, 
      rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 80%, 
      #000000 80%, #000000 100%
    );
}

#hamburger-menu #sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 125px;
    height: 100%;
    background-color: #000000;
    transition: 0.3s;
    padding: 0px 10px;
    box-sizing: border-box;
}

#hamburger-menu h3 {
  color: #fcfcfc;
  font-size: 2.2rem;
}

#hamburger-menu ul {
  padding-left: 0px;
}

#hamburger-menu li {
  list-style-type: none;
  line-height: 3rem;
}

#hamburger-menu a {
  color: #fbfbfb;
  font-size: 1.3rem;
  text-decoration: none;
}

#hamburger-menu a:hover {
  text-decoration: underline;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    left: 0;
}
#hamburger-input:checked ~ .overlay{
   visibility: visible;
  opacity: 0.4;
}


@media screen and (max-width: 1000px) {
  #main-menu {
    display: none;
  }
  #hamburger-menu {
    display: inline;
  }
}

/*--------------------------------------------------------------
Styles that apply to the Footer with social media menu 
--------------------------------------------------------------*/


.social-menu {
	border-bottom: 1px solid hsl(0, 0%, );
    font-family: 'Raleway', sans-serif;
    background-color: rgb(0, 0, 0);
}

.social-menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.social-menu li a {
	display: block;
	text-decoration: none;
	color: white;
    padding: 14px;
}

.social-menu li a:hover {
	background:rgb(88, 88, 88);
}

.social-menu li a:before {
    font-family: 'Fontawesome';
    -webkit-font-smoothing: antialiased;
    content: '\f08e';
}

/* link to the the generic site, add individual's profile link */


.social-menu li a[href*="facebook.com"]::before { content: '\f09a'; }

.social-menu li a[href*="instagram.com"]::before { content: '\f16d'; }

.social-menu li a[href*="twitter.com"]::before { content: '\f099'; }

.social-menu li a[href*="linkedin.com"]::before { content: '\f0e1'; }

.social-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; /* change this if we want it centered */
}
