/*--------------------------------------------------------------
Styles that apply to Main Menu .topnav
--------------------------------------------------------------*/
.topnav {
    background-color: #333;
    overflow: hidden;
    position:fixed;
    width: 100%;
}
  
/* Style the links inside the navigation bar */

.topnav>a:not(:last-child) {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    font-style: bold;
}
  
  
/* Change the color of links on hover */
.topnav a:hover {
    background-color: rgb(88, 88, 88);
    color: rgb(255, 255, 255);
}
  
/* Add a color to the active/current link */

.topnav a.active {
    background-color: #f1f1f1;
    color: rgb(0, 0, 0);
}



/* Style the cart inside the navigation bar */

.bi-cart2 {
    padding: 20px;
    margin: auto 0;
}

.cart {
    float: right;
    position: relative;
    top: 10px;
    right: 10px;
    text-align: center;
    background-color: #fff;
    color: #212529;
    border-radius: 5px;
}
  
.cartAmount {
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 15px;
    background-color: rgb(88, 88, 88) ;
    color: white;
    padding:5px;
    border-radius: 15px;
}


/*--------------------------------------------------------------
Header styles 
--------------------------------------------------------------*/

.header-background {
    width: 100%;
    display:flex;
    justify-content: center;
    padding-top: 50px;
    margin-bottom: 30px;
    z-index: 2;
}

.site-title {
    font-family: 'Voltaire', Georgia, sans-serif;
    margin: 0 0 1em;
    padding: 1em 0;
    font-size: 2em;
    font-weight: 200;
    text-align: center;
    color: black;
}


@media screen and (min-width: 44.44em) {
    .site-title {
        font-size: 2em;
    }
}
    
@media screen and (min-width: 50em) {
    .site-title {
        font-size: 2.5em;
    }
}

.site-title a {
    color: hsl(5, 45%, 95%);
    text-decoration: none;
}

.site-title a:hover {
    text-decoration: underline;
}

/*--------------------------------------------------------------
Styles that apply to the Footer with social media menu 
--------------------------------------------------------------*/


.social-menu {
	border-bottom: 1px solid hsl(0, 0%, );
    font-family: 'Raleway', sans-serif;
    background-color: #333;
}

.social-menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.social-menu li a {
	display: block;
	text-decoration: none;
	color: white;
    padding: 14px;
}

.social-menu li a:hover {
	background:rgb(88, 88, 88);
}

.social-menu li a:before {
    font-family: 'Fontawesome';
    -webkit-font-smoothing: antialiased;
    content: '\f08e';
}

/* link to the the generic site, add individual's profile link */


.social-menu li a[href*="facebook.com"]::before { content: '\f09a'; }

.social-menu li a[href*="instagram.com"]::before { content: '\f16d'; }

.social-menu li a[href*="twitter.com"]::before { content: '\f099'; }

.social-menu li a[href*="linkedin.com"]::before { content: '\f0e1'; }

.social-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; /* change this if we want it centered */
}
